In [1]:
import sqlite3

# Create connector object
conn = sqlite3.connect('PrenatalCare.db')

# Create cursor object
cur = conn.cursor()

In [2]:
# Drop table if patient table exist

cur.execute("DROP TABLE IF EXISTS patient")
conn.commit()

# Create patient table with constraints

cur.execute("""
    CREATE TABLE patient (
        ptID INT PRIMARY KEY,
        firstName VARCHAR(15) NOT NULL,
        lastName VARCHAR(15) NOT NULL,
        address VARCHAR(20) NOT NULL,
        birthDate DATE NOT NULL,
        sex CHAR NOT NULL CHECK(sex IN ('M','F')),
        contactNo INT NOT NULL,
        email VARCHAR(20) NOT NULL
    );
""")

sample_data = [
    (1, 'John', 'Doe', '123 Main St', '1990-05-15', 'M', 1234567890, 'john@example.com'),
    (2, 'Jane', 'Smith', '456 Elm St', '1985-08-22', 'F', 9876543210, 'jane@example.com'),
    (3, 'Mike', 'Johnson', '789 Oak Ave', '1978-12-10', 'M', 5553339999, 'mike@example.com'),
    (4, 'Emily', 'Brown', '321 Pine St', '1995-03-28', 'F', 7778889999, 'emily@example.com'),
    (5, 'David', 'Lee', '567 Maple St', '1982-09-17', 'M', 1112223333, 'david@example.com'),
    (6, 'Sarah', 'Garcia', '890 Cedar St', '1998-11-05', 'F', 4445556666, 'sarah@example.com'),
    (7, 'Michael', 'Wang', '234 Birch St', '1975-07-03', 'M', 9998887777, 'michael@example.com'),
    (8, 'Olivia', 'Nguyen', '876 Walnut St', '1989-04-20', 'F', 6667778888, 'olivia@example.com'),
    (9, 'Ethan', 'Patel', '543 Spruce St', '1992-06-12', 'M', 2223334444, 'ethan@example.com'),
    (10, 'Ava', 'Hernandez', '789 Cherry St', '1997-01-30', 'F', 3334445555, 'ava@example.com')
]

# Insert data into the table

cur.executemany("""
    INSERT INTO patient (ptID, firstName, lastName, address, birthDate, sex, contactNo, email)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?);
""", sample_data)

conn.commit()

In [3]:
#Drop table if staff table exist

cur.execute("DROP TABLE IF EXISTS staff")
conn.commit()

# Create staff table with constraints

cur.execute("""
    CREATE TABLE staff (
        staffID INT PRIMARY KEY,
        firstName VARCHAR(15) NOT NULL,
        lastName VARCHAR(15) NOT NULL,
        sex CHAR NOT NULL CHECK(sex IN ('M','F')),
        jobTitle VARCHAR(20) NOT NULL CHECK(jobTitle IN ('Physician', 'Nurse', 'Medical Technologist', 'Social Worker', 'Pharmacist')),
        dept VARCHAR(20) NOT NULL CHECK(dept IN ('OB-GYN', 'Pathology', 'Pharmacy', 'Admission')),
        licenseNo INT NOT NULL
    );
""")

# Insert data into the table

cur.execute("""
    INSERT INTO staff (staffID, firstName, lastName, sex, jobTitle, dept, licenseNo)
    VALUES
        (1, 'Michael', 'Smith', 'M', 'Physician', 'OB-GYN', 12345),
        (2, 'Emily', 'Johnson', 'F', 'Nurse', 'Admission', 54321),
        (3, 'David', 'Williams', 'M', 'Medical Technologist', 'Pathology', 98765),
        (4, 'Sophia', 'Brown', 'F', 'Social Worker', 'Admission', 67890),
        (5, 'Oliver', 'Garcia', 'M', 'Pharmacist', 'Pharmacy', 45678),
        (6, 'Ava', 'Martinez', 'F', 'Physician', 'OB-GYN', 23456),
        (7, 'Ethan', 'Lee', 'M', 'Nurse', 'Admission', 78901),
        (8, 'Isabella', 'Nguyen', 'F', 'Medical Technologist', 'Pathology', 87654),
        (9, 'William', 'Rodriguez', 'M', 'Pharmacist', 'Pharmacy', 34567),
        (10, 'Sophia', 'Kim', 'F', 'Social Worker', 'Admission', 89012);
""")

conn.commit()

In [4]:
# Drop table if labRecord table exists

cur.execute("DROP TABLE IF EXISTS labRecord")
conn.commit()

# Create labRecord table with constraints

cur.execute("""
    CREATE TABLE labRecord (
        labNo INT PRIMARY KEY,
        ptID INT NOT NULL,
        staffID INT NOT NULL,
        date DATE NOT NULL,
        completeBloodCount NVARCHAR(100),
        urinalysis NVARCHAR(100),
        urineCulture NVARCHAR(100),
        rubellaTest CHAR CHECK(rubellaTest IN ('Positive','Negative')),
        hepatitisBTest CHAR CHECK(hepatitisBTest IN ('Positive','Negative')),
        HIVtest CHAR CHECK(HIVtest IN ('Positive','Negative')),
        STItest NVARCHAR(100),
        papSmear NVARCHAR(100),
        TBtest CHAR CHECK(TBtest IN ('Positive','Negative')),
        ultrasound NVARCHAR(100),
        maternalSerumScreeningTest NVARCHAR(100),
        glucoseChallengeTest NVARCHAR(100),
        groupBStrepTest CHECK(groupBStrepTest IN ('Positive','Negative')),
        fetalMonitoring NVARCHAR(100)
    );
""")


# Insert data into the table

cur.execute("""
    INSERT INTO labRecord (labNo, ptID, staffID, date, completeBloodCount, urinalysis, urineCulture,
                       rubellaTest, hepatitisBTest, HIVtest, STItest, papSmear, TBtest,
                       ultrasound, maternalSerumScreeningTest, glucoseChallengeTest,
                       groupBStrepTest, fetalMonitoring)
    VALUES
        (1, 2, 1, '2023-01-05', 'Normal', 'Normal', 'Negative', 'Negative', 'Negative',
         'Negative', 'Not performed', 'Normal', 'Negative', 'Normal', 'Normal', 'Normal',
         'Negative', 'Not performed'),

        (2, 4, 5, '2023-02-10', 'Normal', 'Abnormal', 'Positive', 'Negative', 'Negative',
         'Negative', 'Chlamydia', 'Normal', 'Negative', 'Abnormal', 'Normal', 'Abnormal',
         'Negative', 'Not performed'),

        (3, 6, 7, '2023-03-15', 'Normal', 'Normal', 'Negative', 'Negative', 'Negative',
         'Negative', 'Not performed', 'Normal', 'Negative', 'Normal', 'Normal', 'Normal',
         'Negative', 'Not performed'),

        (4, 8, 9, '2023-04-20', 'Normal', 'Abnormal', 'Negative', 'Negative', 'Negative',
         'Positive', 'Gonorrhea', 'Normal', 'Negative', 'Normal', 'Normal', 'Normal',
         'Negative', 'Not performed'),

        (5, 10, 2, '2023-05-25', 'Normal', 'Normal', 'Negative', 'Negative', 'Negative',
         'Negative', 'Not performed', 'Normal', 'Negative', 'Normal', 'Normal', 'Normal',
         'Negative', 'Not performed');
""")

conn.commit()

In [5]:
# Drop table if prenatalCareRecord table exists

cur.execute("DROP TABLE IF EXISTS prenatalCareRecord")
conn.commit()

# Create prenatalCareRecord table with constraints

cur.execute("""
    CREATE TABLE prenatalCareRecord (
        checkUpNo INT PRIMARY KEY,
        ptID INT NOT NULL,
        staffID INT NOT NULL,
        date DATE NOT NULL,
        subjInfo NVARCHAR(100) NOT NULL,
        objInfo NVARCHAR(100) NOT NULL,
        assessment NVARCHAR(100) NOT NULL,
        plan NVARCHAR(100) NOT NULL
    );
""")

# Insert data into the table

cur.execute("""
    INSERT INTO prenatalCareRecord (checkUpNo, ptID, staffID, date, subjInfo, objInfo, assessment, plan)
    VALUES
    (1, 2, 1, '2023-01-10', '28 weeks pregnant, no complications reported.', 'BP: 120/80, weight: 140 lbs, FHR: 130 bpm, temperature: 98.6°F', 'Prenatal health normal, advised on nutrition and exercise.', 'Scheduled glucose tolerance test and prescribe prenatal vitamins. Refer to labNo 1, 4, and 5 for results. Recommend Ferrous Sulfate supplement.'),
    (2, 4, 5, '2023-02-15', '32 weeks pregnant, complained of occasional nausea.', 'BP: 118/78, weight: 150 lbs, FHR: 135 bpm, temperature: 98.7°F', 'Mild morning sickness noted, recommended dietary changes.', 'Prescribe Ondansetron and schedule fetal movement monitoring. Start Nitrofurantoin tablet twice a day. Refer to labNo 2 for results.'),
    (3, 6, 7, '2023-03-20', '35 weeks pregnant, reported swelling in ankles.', 'BP: 122/82, weight: 160 lbs, FHR: 132 bpm, temperature: 98.5°F', 'Edema observed, advised elevation and rest.', 'Order urinalysis and recommend compression stockings. Refer to labNo 3 for results. Advise Acetaminophen for discomfort.'),
    (4, 8, 9, '2023-04-25', '38 weeks pregnant, experiencing lower back pain.', 'BP: 120/80, weight: 170 lbs, FHR: 128 bpm, temperature: 98.4°F', 'Back discomfort reported, suggested warm compresses.', 'Prescribe Prenatal Massage Oil and perform fetal non-stress test. Refer to labNo 4 for results.'),
    (5, 10, 2, '2023-05-30', '40 weeks pregnant, no signs of labor.', 'BP: 118/78, weight: 180 lbs, FHR: 130 bpm, temperature: 98.8°F', 'Full-term pregnancy, discussed induction options.', 'Scheduled induction and order cervical ripening procedure. Refer to labNo 5 for results. Administer Misoprostol.');
""")

conn.commit()

In [6]:
# Drop table if prescription table exists

cur.execute("DROP TABLE IF EXISTS prescription")
conn.commit()

# Create prescription table with constraints

cur.execute("""
    CREATE TABLE prescription (
        prescNo INT PRIMARY KEY,
        ptID INT NOT NULL,
        staffID NOT NULL,
        date DATE NOT NULL,
        drugList NVARCH(100) NOT NULL
    );
""")

# Insert data into the table

cur.execute("""
    INSERT INTO prescription (prescNo, ptID, staffID, date, drugList)
    VALUES
        (1, 2, 1, '2023-01-10', 'Ferrous Sulfate, Prenatal Vitamins'),
        (2, 4, 5, '2023-02-15', 'Ondansetron, Nitrofurantoin'),
        (3, 6, 7, '2023-03-20', 'Acetaminophen'),
        (4, 8, 9, '2023-04-25', 'Prenatal Massage Oil'),
        (5, 10, 2, '2023-05-30', 'Misoprostol');
""")

conn.commit()

In [7]:
### QUERIES

In [8]:
# Query 1: Extracting the total number of female patients in the database.
res = cur.execute("""
    SELECT COUNT(*) AS NumFemalePatients
    FROM patient
    WHERE sex = 'F';
""")
res.fetchall()

[(5,)]

In [9]:
# Query 2: Creating a VIEW displaying the names, contact details, and patient number of the female patients
cur.execute("""
    CREATE VIEW IF NOT EXISTS FemalePatientsDetails (Patient_ID, First_Name, Last_Name, Contact_Number, Email) AS
    SELECT ptID, firstName, lastName, contactNo, email
    FROM patient
    WHERE sex = 'F';
""")
conn.commit()

res = res.execute("SELECT * FROM FemalePatientsDetails;")
res.fetchall()

[(2, 'Jane', 'Smith', 9876543210, 'jane@example.com'),
 (4, 'Emily', 'Brown', 7778889999, 'emily@example.com'),
 (6, 'Sarah', 'Garcia', 4445556666, 'sarah@example.com'),
 (8, 'Olivia', 'Nguyen', 6667778888, 'olivia@example.com'),
 (10, 'Ava', 'Hernandez', 3334445555, 'ava@example.com')]

In [10]:
# Query 3: Displaying the lab test records of the female patients in the database
res = cur.execute("""
    SELECT lab.labNo, p.lastName, p.firstName, lab.staffID, lab.date,
           lab.completeBloodCount, lab.urinalysis, lab.urineCulture,
           lab.rubellaTest, lab.hepatitisBTest, lab.HIVtest,
           lab.STItest, lab.papSmear, lab.TBtest,
           lab.ultrasound, lab.maternalSerumScreeningTest, lab.glucoseChallengeTest,
           lab.groupBStrepTest, lab.fetalMonitoring
    FROM labRecord AS lab
    JOIN patient AS p ON lab.ptID = p.ptID
    WHERE p.sex = 'F';
""")
res.fetchall()

[(1,
  'Smith',
  'Jane',
  1,
  '2023-01-05',
  'Normal',
  'Normal',
  'Negative',
  'Negative',
  'Negative',
  'Negative',
  'Not performed',
  'Normal',
  'Negative',
  'Normal',
  'Normal',
  'Normal',
  'Negative',
  'Not performed'),
 (2,
  'Brown',
  'Emily',
  5,
  '2023-02-10',
  'Normal',
  'Abnormal',
  'Positive',
  'Negative',
  'Negative',
  'Negative',
  'Chlamydia',
  'Normal',
  'Negative',
  'Abnormal',
  'Normal',
  'Abnormal',
  'Negative',
  'Not performed'),
 (3,
  'Garcia',
  'Sarah',
  7,
  '2023-03-15',
  'Normal',
  'Normal',
  'Negative',
  'Negative',
  'Negative',
  'Negative',
  'Not performed',
  'Normal',
  'Negative',
  'Normal',
  'Normal',
  'Normal',
  'Negative',
  'Not performed'),
 (4,
  'Nguyen',
  'Olivia',
  9,
  '2023-04-20',
  'Normal',
  'Abnormal',
  'Negative',
  'Negative',
  'Negative',
  'Positive',
  'Gonorrhea',
  'Normal',
  'Negative',
  'Normal',
  'Normal',
  'Normal',
  'Negative',
  'Not performed'),
 (5,
  'Hernandez',
  'Ava',
  2,
  '2023-05-25',
  'Normal',
  'Normal',
  'Negative',
  'Negative',
  'Negative',
  'Negative',
  'Not performed',
  'Normal',
  'Negative',
  'Normal',
  'Normal',
  'Normal',
  'Negative',
  'Not performed')]

In [11]:
# Query 4: Displaying the female staff members and their respective female patients
res = cur.execute("""
    SELECT s.staffID, s.firstName AS StaffFirstName, s.lastName AS StaffLastName,
           p.ptID, p.firstName AS PatientFirstName, p.lastName AS PatientLastName
    FROM staff AS s
    JOIN prenatalCareRecord AS pcr ON s.staffID = pcr.staffID
    JOIN patient AS p ON pcr.ptID = p.ptID
    WHERE s.sex = 'F' AND p.sex = 'F';
""")
res.fetchall()

[(2, 'Emily', 'Johnson', 10, 'Ava', 'Hernandez')]

In [12]:
# Query 5: Displaying all the OB-GYN doctors in the staff table
res = cur.execute("""
    SELECT staffID, firstName, lastName
    FROM staff
    WHERE jobTitle = 'Physician' AND dept = 'OB-GYN';
""")
res.fetchall()

[(1, 'Michael', 'Smith'), (6, 'Ava', 'Martinez')]

In [13]:
# Query 6 Displaying all the patients subjective information, medications, and clinicians
res = cur.execute("""
    SELECT p.firstName AS PatientFirstName, p.lastName AS PatientLastName, 
        pcr.subjInfo AS SubjectiveInfo, pr.drugList AS Medication, 
        s.firstName AS StaffFirstName, s.lastName AS StaffLastName, s.jobTitle
    FROM patient AS p
    JOIN prenatalCareRecord AS pcr ON p.ptID = pcr.ptID
    JOIN prescription AS pr ON p.ptID = pr.ptID
    JOIN staff AS s ON pcr.staffID = s.staffID;
""")
res.fetchall()

[('Jane',
  'Smith',
  '28 weeks pregnant, no complications reported.',
  'Ferrous Sulfate, Prenatal Vitamins',
  'Michael',
  'Smith',
  'Physician'),
 ('Emily',
  'Brown',
  '32 weeks pregnant, complained of occasional nausea.',
  'Ondansetron, Nitrofurantoin',
  'Oliver',
  'Garcia',
  'Pharmacist'),
 ('Sarah',
  'Garcia',
  '35 weeks pregnant, reported swelling in ankles.',
  'Acetaminophen',
  'Ethan',
  'Lee',
  'Nurse'),
 ('Olivia',
  'Nguyen',
  '38 weeks pregnant, experiencing lower back pain.',
  'Prenatal Massage Oil',
  'William',
  'Rodriguez',
  'Pharmacist'),
 ('Ava',
  'Hernandez',
  '40 weeks pregnant, no signs of labor.',
  'Misoprostol',
  'Emily',
  'Johnson',
  'Nurse')]

In [14]:
# Query 7: Displaying the oldest patient in the database
res = cur.execute("""
    SELECT firstName, lastName, birthDate
    FROM patient
    ORDER BY birthDate ASC
    LIMIT 1;
""")
res.fetchall()

[('Michael', 'Wang', '1975-07-03')]

In [15]:
# Query 8: Displaying the number of tests done for each pregnant patient in the database
res = cur.execute("""
    SELECT p.firstName, p.lastName, COUNT(lab.labNo) AS NumTests
    FROM patient AS p
    LEFT JOIN labRecord AS lab ON p.ptID = lab.ptID
    WHERE p.ptID IN (SELECT ptID FROM prenatalCareRecord)
    GROUP BY p.ptID
    ORDER BY NumTests DESC;
""")
res.fetchall()

[('Jane', 'Smith', 1),
 ('Emily', 'Brown', 1),
 ('Sarah', 'Garcia', 1),
 ('Olivia', 'Nguyen', 1),
 ('Ava', 'Hernandez', 1)]

In [16]:
# Query 9: Displaying the pregnant patient with positive urine culture
res = cur.execute("""
    SELECT p.firstName, p.lastName, lab.urineCulture AS UrineCultureResult
    FROM patient AS p
    JOIN labRecord AS lab ON p.ptID = lab.ptID
    WHERE p.ptID IN (SELECT ptID FROM prenatalCareRecord)
      AND lab.urineCulture IN ('Abnormal', 'Positive')
    ORDER BY p.lastName, p.firstName;
""")
res.fetchall()

[('Emily', 'Brown', 'Positive')]

In [17]:
# Query 10: Displaying the medications given to the patient with positive urine culture
res = cur.execute("""
    SELECT DISTINCT p.firstName, p.lastName, pr.drugList AS Medications
    FROM patient AS p
    JOIN labRecord AS lab ON p.ptID = lab.ptID
    JOIN prescription AS pr ON p.ptID = pr.ptID
    WHERE lab.urineCulture IN ('Abnormal', 'Positive')
      AND pr.drugList IS NOT NULL;
""")
res.fetchall()

[('Emily', 'Brown', 'Ondansetron, Nitrofurantoin')]

In [18]:
cur.close()
conn.close()